<!DOCTYPE html>
<html>

<body bgcolor=#1DB954>

    <center>
        <iframe src="https://giphy.com/embed/l0Iyl55kTeh71nTXy" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <h2 style="font-family:sans-serif; color: #191414;">{{ artist }}의 {{ song }}</h1>
        <h3 style="font-family:sans-serif; color: #191414;">위 트랙은 아래와 같은 MBTI의 음악 스타일입니다.</h3>


        <h1 style="font-family:sans-serif; color: #191414;">{{ pred[0] }}</h1><br><br>
        <a href='/' style="font-family:sans-serif; color: #191414;">다시 해볼래요.</a><br><br>
        <h3 style="font-family:sans-serif; color: #191414;">저희 서비스를 이용해주셔서 감사합니다.</h1>
        <p style="font-family:sans-serif; color: #191414;">저희 서비스는 단순 Side Project 용이고 생각보다 다른 답이 나올 수 있습니다.<br> 데이터도 부족하기도 하고, 분류를 진행하기위해 16가지의 클래스분류를 해야하니 정확도가 낮아진다는 점 유의해주시길 바랍니다. <br> 
        더 좋은 모습과 발전을 기대하며 위 서비스는 재미용으로 해보시길 바랍니다.<br><br> 감사합니다.<br> 개발자 dustin 마음을 담아.(INTJ)</p>
    </center>

</body>

</html>
