<!DOCTYPE html>
<html>
    <body bgcolor=#191414>

        <center>

        <img src='https://raw.githubusercontent.com/dustin-kang/Proj3_MusicMBTIClassfication/main/home_1.png' alt="MBTIFY"><br><br>
        <img src='https://raw.githubusercontent.com/dustin-kang/Proj3_MusicMBTIClassfication/main/home_2.png' alt="example">



        <form method="POST", action="{{url_for('recv')}}">
           <b style="font-family:sans-serif; color: #1DB954;"> Track ID :  <input type="text", name='inpute_code', placeholder="6bQfNiqyCX7UaQSvVVGo4I" width="1000px"> <br><br>
            상위 그림과 같이 Spotify Track ID를 올바르게 입력해주시면 됩니다. <br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>